
                            /* shared styles  */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.description-text{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
