
                            /* shared styles  */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.description-text{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
body{
    background-color: #F5F8FF;
}
main{
    max-width: 1150px;
    margin: 0 auto;
}
header{
    max-width: 1150px;
    margin: 0 auto;
}

                            /* nav bar styles  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu ul li a{
    text-decoration: none;
    
}
.nav-menu ul li{
    list-style: none;
    color: #8987A1;
}
.nav-menu ul{
    display: flex;
    gap: 50px;
    margin-left: 600px;
}
.cart p{
    color: #3c3b3e;
}
#home{
    color: black;
    font-weight: 600;
}

                            /* banner styles  */

.banner-area{
    display: flex;
    margin-top: 100px;
    align-items: center;
}
.banner-title{
    color: #000000;
    font-size: 3.7rem;
    font-weight: 700;
}
#color{
    color: #E95A08;
}

                            /* plant section styles  */
.plant-content{
    text-align: center;
}
.plant-title{
    font-size: 3rem;
    color: #000000;
    font-weight: 700;
    margin-bottom: 0;
}
#our{
    color: #E95A08;
}

                            /* plant card styles  */
.plant-card{
    text-align: center;
}
.card-title{
    font-size: 1.25;
    columns: #111111;
    font-weight: 500;
    margin-bottom: 0;
}
.price{
    font-size: 1.2rem;
    font-weight: 700;
    color: #111111;
    margin-top: 7px;
}
.card-btn{
    padding: 15px 75px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    background-color: #E95A08;
}
.card-btn:hover{
    background-color: #fd5d00;
    cursor: pointer;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

                     /* plant-lover section styles  */
.plant-lover{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.plant-lover-content-title{
    font-size: 3rem;
    color: #111111;
    font-weight: 700;
}
.plant-lover-content{
    max-width: 40%;
}
.plant-lover-image img{
    max-width: 90%;
}
.plant-lover-content ul li{
    padding-top: 20px;
}
@keyframes badge-animation{
    0%{
        /* opacity: 1; */
        transform: translateX(-80px);
    }
    50%{
        /* opacity: 1; */
        transform: translateX(-5px);
    }
    100%{
        /* opacity: 1; */
        transform: translateX(0px);
    }
}
.badge{
    width: 40%;
    position: relative;
    bottom: 700px;
    left: 400px;
    animation: badge-animation 1s ease-in infinite alternate;
}













                            /* mobile responsive media query  */
@media screen and (max-width:576px) {
    .nav-menu ul{
        display: none;
        align-items: center;
    }
    .banner-area{
        flex-direction: column-reverse;
    }
    .banner-content{
        margin-left: 10px;
    }
    .banner-image img{
        width: 100%;
    }
    .plant-card{
        grid-template-columns: repeat(2, 2fr);
    }
    .card img{
        width: 100%;
        margin-left: 5px;
    }
    .card-btn{
        padding: 10px 30px;
        font-size: 0.8rem;
    }
    .plant-lover{
        flex-direction: column;
    }
    .plant-lover-image img{
        max-width: 100%;
        margin-left: 5px;
    }
    .badge{
        display: none;
    }
    .plant-lover-content{
        max-width: 100%;
        text-align: justify;
        margin-left: 5px;
    }
}






