*{
    margin: 0;
    padding: 0;
}
 
                        /* shared styles  */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.description-text{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
body{
    background-color: #F5F8FF;
}
main{
    max-width: 1150px;
    margin: 0 auto;
}
header{
    max-width: 1150px;
    margin: 0 auto;
}

                            /* nav bar styles  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu ul li a{
    text-decoration: none;
    
}
.nav-menu ul li{
    list-style: none;
    color: #8987A1;
}
.nav-menu ul li:hover{
    color: #272729;
    cursor: pointer;
}
.nav-menu ul{
    display: flex;
    gap: 50px;
    margin-left: 600px;
}
.cart p{
    color: #3c3b3ec0;
}
.cart p:hover{
    color: #151516d7;
    cursor: pointer;
}
#home{
    color: black;
    font-weight: 600;
}

                            /* banner styles  */

.banner-area{
    display: flex;
    margin-top: 100px;
    align-items: center;
}
.banner-title{
    color: #000000;
    font-size: 3.7rem;
    font-weight: 700;
}
#color{
    color: #E95A08;
}

                            /* plant section styles  */
.plant-content{
    text-align: center;
}
.plant-content p{
    padding-top: 20px;
}
.plant-title{
    font-size: 3rem;
    color: #000000;
    font-weight: 700;
}
#our{
    color: #E95A08;
}

                            /* plant card styles  */
.plant-section{
    padding-top: 100px;
}
.plant-card{
    text-align: center;
    padding-top: 50px;
}
.card-title{
    font-size: 1.25;
    columns: #111111;
    font-weight: 500;
    margin-bottom: 0;
}
.price{
    font-size: 1.2rem;
    font-weight: 700;
    color: #111111;
    margin-top: 7px;
}
.card-btn{
    padding: 15px 75px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    background-color: #E95A08;
    margin-top: 10px;
}
.card-btn:hover{
    background-color: #fd5d00;
    cursor: pointer;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

                     /* plant-lover section styles  */

.plant-lover{
    padding-top: 120px;
    display: flex;
    justify-content: space-evenly;
}
.plant-lover-content-title{
    font-size: 3rem;
    color: #111111;
    font-weight: 700;
}
.plant-lover-content{
    max-width: 40%;
    margin-top: 50px;
}
.plant-lover-image img{
    max-width: 90%;
}
.plant-lover-content ul li{
    padding-top: 25px;
}
.badge {
    width: 40%;
    position: relative;
    bottom: 700px;
    left: 400px;
    animation: badge-animation-rotate 2s linear infinite;
}

@keyframes badge-animation-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


                            /* lates-deal styles  */
                            
.latest-deal-content{
    text-align: center;
}
.latest-deal-content p{
    padding: 20px;
}
.latest-title{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
#latest{
    color: #E95A08;
}
.latest-deal-images{
    display: flex;
    gap: 40px;
    padding-top: 50px;
}
.left-images-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-top-image{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/deal-bloom.png');
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.left-bottom-image{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/deal-ana.png');
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.right-image{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                      url('./assets/deal-zabo.png');
    width: 100%;
    height: full;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.left-top-image, .left-bottom-image, .right-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-inner-title{
    font-size: 1.5rem;
    font-size: 700;
    color: #FFFFFF;
}
.image-inner-subtitle{
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
}
.right-img-inner-title{
    font-size: 2.5rem;
    font-size: 700;
    color: #FFFFFF;
}
.right-img-inner-subtitle{
    font-size: 1.54rem;
    font-weight: 600;
    color: #FFFFFF;
}



                                    /* join section styles  */
.join-section{
    background-image: url('./assets/news-letter-bg.png');
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
.join-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join-section-header{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
.join-section-input {
    display: flex;
    align-items: center; 
    margin-top: 30px;
}
.join-section-input input{
    padding: 12px;
    padding-right: 280px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1rem;
    border: none;
}
.join-btn{
    padding: 12px 25px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    align-items: center;
}
.join-btn:hover{
    background-color: #fd5d00;
}

                            /* footer styles  */
.footer-container{
    max-width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding-top: 50px;
}
.left-side img{
    margin-bottom: 20px;
}
.footer-center{
    display: flex;
    gap: 110px;
}
.footer-center ul a{
    text-decoration: none;
    color: #8987A1;
    font-size: 1rem;
}
.footer-center ul a:hover{
    color: #242426;
}
.footer-center ul li{
    list-style: none;
    margin-top: 20px;
}
.right-area img{
    padding-left: 30px;
}




                            /* mobile responsive media query  */
@media screen and (max-width:576px) {
    .nav-menu ul{
        display: none;
        align-items: center;
    }
    .banner-area{
        flex-direction: column-reverse;
    }
    .banner-content{
        margin-left: 10px;
    }
    .banner-image img{
        width: 100%;
    }
    .plant-card{
        grid-template-columns: repeat(2, 2fr);
    }
    .card img{
        width: 100%;
        margin-left: 5px;
    }
    .card-btn{
        padding: 10px 30px;
        font-size: 0.8rem;
    }
    .plant-lover{
        flex-direction: column;
    }
    .plant-lover-image img{
        max-width: 100%;
        margin-left: 8px;
    }
    .badge{
        display: none;
    }
    .plant-lover-content-title{
    font-size: 2.4rem;
    font-weight: 600;
    }
    .plant-lover-content{
        max-width: 100%;
        text-align: justify;
        margin-left: 5px;
    }
    .plant-lover-content ul li{
        margin-left: 20px;
        width: 90%;
    }
    .join-section{
        max-width: 100%;
        height: 270px;
    }
    .join-section-input input{
        padding-right: 50px;
    }
    .join-btn{
    padding: 12px 10px;
    }
    .join-section-header{
        font-size: 2rem;
        text-align: center;
    }
    .latest-deal-images{
        flex-direction: column;
    }
    .left-top-image{
        width: 90%;
        margin: 0 auto;
    }
    .left-bottom-image{
        width: 90%;
        margin: 0 auto;
    }
    .right-image{
        width: 90%;
        height: 200px;
        margin: 0 auto;
        border-radius: 10px;
    }
    .right-img-inner-title{
        font-size: 1.5rem;
    }
    .right-img-inner-subtitle{
        font-size: 1rem;
    }
    .latest-deal-images{
        gap: 10px;
    }
    .latest-deal-content{
        padding-top: 100px;
    }
    .footer-container{
        flex-direction: column;
        padding-left: 15px;
    }
    .footer-center{
        flex-direction: column;
        gap: 0px;
    }
    .right-area{
        padding-top: 25px;
    }
    nav{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    }
    .banner-image{
        max-width: 100%;
    }
    .right-area img{
    padding-left: 10px;
    }
}






